.container {
    display: flex;
    padding: 1rem;
    border-bottom: 0.5px solid #6c757d;
}

img {
    width: 3rem;
    border-radius: 50%;
}

.info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.label{
    color: #343a40;
}