.container {
    display: flex;
    padding: 1rem;
    border: 1px;
}

img {
    width: 3rem;
    border-radius: 50%;
    border-color: #fe5d26;
}

.info {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.label{
    color: #343a40;
}